* {
  color: white;
  
}

.container {
  max-width: 600px;
  margin: 5% auto;

  background-color: orange;
  border-radius: 15px;
}

.App {
  text-align: center;
}

.btn_click {
  width: 200px;
  height: 200px;

  margin-bottom: 30px;

  background-size: cover;
  background-image: url(assets/images/coin.png);
  background-color: transparent;
  border: none;
}

.btn_click:active {
  transform: scale(.9);
}

.btn_upgrade {
  width: 50px;
  height: 50px;
  background-image: url(assets/images/coin10.png);
  background-size: cover;
  background-color: transparent;


  border: none;
}

.btn_upgrade:active {
  transform: scale(.9);
}

.score-block {
  padding: 5px;

  background-color: rgb(46, 40, 40);
}

.score {
  font-size: 20px;
  font-weight: bold;
}

.upgrade-block {
  margin-bottom: 50px;
}

.btn_Shop {
  width: 80px;
  height: 80px;

  background-image: url(assets/images/shop.png);
  background-size: cover;
  background-color: transparent;

  border: none;
}

.btn_Shop:active {
  transform: scale(.9);
}

.store {
  margin: 0;
}

.shop_block {
  padding: 10px;

  overflow: hidden;
  transition: height .3s ease;
}

.wrapper {
  margin-top: 50px;
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  
}

.shop_item_block {
  align-items: center;
  margin-right: 90px;
}

.item_price {
  margin-left: 10px;
}

.right_block {
  margin: 0;
}

.double {
  background-image: url(assets/images/coinX3.png);
}

.five {
  background-image: url(assets/images/CoinX5.png);
  border-radius: 50%;
}

.ten {
  background-image: url(assets/images/CoinX10.png);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
